<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/noun_train_8295307"
        android:label="@string/app_name"
        android:roundIcon="@drawable/noun_train_8295307"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartspacerIRCTC">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="${applicationId}.target"
            android:name=".Target"
            android:exported="true"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_TARGETS">
        <intent-filter>
            <action android:name="com.kieronquinn.app.smartspacer.TARGET" />
        </intent-filter>
    </provider>

    </application>

</manifest>